<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f991bc26f1.js" crossorigin="anonymous"></script>
    <title>About Us - Volunteer Events</title>
    <link rel="stylesheet" href="../styles/About.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo"><img src="../styles/images/pngwing.com.png" alt="logo" height="70px"> </div>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="event">Create Event</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="Contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="about-us">
        <h1>About Us</h1>

        <div class="team-member">
            <img src="../styles/images/IMG_7999.JPG" alt="Team Member 1">
            <h2>Nipun Negi</h2>
            <p>Backend developer</p>
            <p>John is passionate about connecting people and promoting volunteerism. He has been actively involved in community service for over 10 years.</p>
            <div class="socials">
                <a class="contact" href="https://www.facebook.com/mir.ayaan.779" target="blank"> <i class="fa-brands fa-facebook fa-2xl"></i></a>
                <a class="contact" href="https://www.instagram.com/imfaizanmir/" target="blank"> <i class="fa-brands fa-instagram fa-2xl"></i></a>
                <a class="contact" href="https://twitter.com/MirFaiz08526928" target="blank"> <i class="fa-brands fa-twitter fa-2xl"></i></a>
                <a class="contact" href="mailto:faizanmeer322@gmail.com" target="blank"> <i class="fa-solid fa-envelope fa-2xl"></i></a>
            </div>
        </div>

        <div class="team-member">
            <img src="../styles/images/IMG_20230814_103933.jpg" alt="Team Member 2">
            <h2>Faizan Mir</h2>
            <p>Fronted developer</p>
            <p>John is passionate about connecting people and promoting volunteerism. He has been actively involved in community service for over 10 years..</p>
            <div class="socials">
                <a class="contact" href="https://www.facebook.com/mir.ayaan.779" target="blank"> <i class="fa-brands fa-facebook fa-2xl"></i></a>
                <a class="contact" href="https://www.instagram.com/imfaizanmir/" target="blank"> <i class="fa-brands fa-instagram fa-2xl"></i></a>
                <a class="contact" href="https://twitter.com/MirFaiz08526928" target="blank"> <i class="fa-brands fa-twitter fa-2xl"></i></a>
                <a class="contact" href="mailto:faizanmeer322@gmail.com" target="blank"> <i class="fa-solid fa-envelope fa-2xl"></i></a>
            </div>
        </div>

        <div class="team-member">
            <img src="../styles/images/IMG_8013.JPG" alt="Team Member 3">
            <h2>Sourav Kumar</h2>
            <p>Designer</p>
            <p>John is passionate about connecting people and promoting volunteerism. He has been actively involved in community service for over 10 years.</p>
            <div class="socials">
                <a class="contact" href="https://www.facebook.com/mir.ayaan.779" target="blank"> <i class="fa-brands fa-facebook fa-2xl"></i></a>
                <a class="contact" href="https://www.instagram.com/imfaizanmir/" target="blank"> <i class="fa-brands fa-instagram fa-2xl"></i></a>
                <a class="contact" href="https://twitter.com/MirFaiz08526928" target="blank"> <i class="fa-brands fa-twitter fa-2xl"></i></a>
                <a class="contact" href="mailto:faizanmeer322@gmail.com" target="blank"> <i class="fa-solid fa-envelope fa-2xl"></i></a>
              
            </div>
        </div>

        <div class="team-member">
            <img src="../styles/images/IMG_8670.JPG" alt="Team Member 4">
            <h2>Shobin</h2>
            <p>Community Manager</p>
            <p>John is passionate about connecting people and promoting volunteerism. He has been actively involved in community service for over 10 years.</p>
            <div class="socials">
                <a class="contact" href="https://www.facebook.com/mir.ayaan.779" target="blank"> <i class="fa-brands fa-facebook fa-2xl"></i></a>
                <a class="contact" href="https://www.instagram.com/imfaizanmir/" target="blank"> <i class="fa-brands fa-instagram fa-2xl"></i></a>
                <a class="contact" href="https://twitter.com/MirFaiz08526928" target="blank"> <i class="fa-brands fa-twitter fa-2xl"></i></a>
                <a class="contact" href="mailto:faizanmeer322@gmail.com" target="blank"> <i class="fa-solid fa-envelope fa-2xl"></i></a>
            </div>
        </div>
    </section>
    <div class="Mission">
        <h2>Our Mission</h2>
        <img src="../styles/images/pngwing.com.png" alt="logo">
        <p>At Volunteer Events, our mission is to connect passionate individuals with volunteer opportunities that make a positive impact on communities worldwide. We believe that by coming together and giving our time and skills, we can create a better world for everyone.</p>
        <div class="socials">
            <a class="contact" href="https://www.facebook.com/mir.ayaan.779" target="blank"> <i class="fa-brands fa-facebook fa-2xl"></i></a>
            <a class="contact" href="https://www.instagram.com/imfaizanmir/" target="blank"> <i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a class="contact" href="https://twitter.com/MirFaiz08526928" target="blank"> <i class="fa-brands fa-twitter fa-2xl"></i></a>
            <a class="contact" href="mailto:faizanmeer322@gmail.com" target="blank"> <i class="fa-solid fa-envelope fa-2xl"></i></a>
            <a class="contact" href="tel:+916005265141" target="blank"> <i class="fa-solid fa-phone fa-2xl"></i></a> <a href=""></a>
        </div>
        <p>&copy;2023 volunteerManagement</p>
    </div>
</body>
</html>
